<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              
                <rule name="Allow static files" stopProcessing="true">
                    <match url=".*\.(css|js|png|jpg|jpeg|gif|bmp|svg|ico|pdf)$" />
                    <action type="None" />
                </rule>

                <rule name="Redirect to index.php" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

    <system.web>
        <customErrors mode="On" defaultRedirect="mycustompage.htm" />
    </system.web>
</configuration>
